Library/
Temp/
Assembly-CSharp-firstpass.csproj
Assembly-CSharp.csproj
.vs/
obj/
ProjectSettings/
Unity.Recorder.csproj
Unity.Recorder.Editor.csproj
Unity.Recorder.Samples.csproj
Assets/Prefabs/Simple Checkpoint.prefab
Assets/Prefabs/Simple Checkpoint.prefab.meta
